pydantic
python-dotenv
typing-extensions
urllib3
dagster
pandas
langchain
langchain-openai
openai
sqlalchemy
psycopg2-binary
bs4
dagster-webserver
langchainhub
selenium
html2text
chainlit
# faiss-cpu
chromadb
tiktoken
pymupdf
duckduckgo-search
wikipedia
mlflow
sendgrid
fastapi
uvicorn
twilio
python-decouple
python-multipart
pyngrok
langchain_experimental